.loginbox {
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, #e0e4ff, #8ea1ff, #b59efa, #daf3ff);
  background-size: 400% 400%;
  /* animation: gradientAnimation 15s ease infinite; */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbox > div {
  max-width: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
